./.git/objects/pack/pack-b616d14e52c889f0eb18824d71b9bf0ac36dc840.pack
*.png
*.PNG
*.log
*.LOG
*.bin
*.BIN
*.dat
*.DAT
*.out
*.o
*.cf32
*.wav
*.png
*.PNG
*.log
*.LOG
*.bin
*.BIN
*.dat
*.DAT
*.out
*.o
*.cf32
*.wav
*.png
*.PNG
*.log
*.LOG
*.bin
*.BIN
*.dat
*.DAT
*.out
*.o
*.cf32
*.wav
*.i32
