*.log
*.LOG
*.bin
*.BIN
*.dat
*.DAT
*.deb
*.out
*.taps
.~*
*.odp
*.fifo

*.wav
*.bmp
*.BMP
*.png
*.PNG
*.pdf
*.PDF
*.kml
*.pipe
*.PIPE
pipe
*.csv
*.jpg
*.txt

*.o

*.i8
*.I8
*.ui8
*.UI8
*.ci8
*.CI8
*.cui8
*.CUI8
*.c8
*.C8

*.i16
*.I16
*.ui16
*.UI16
*.ci16
*.CI16
*.cui16
*.CUI16
*.c16
*.C16

*.i32
*.I32
*.ui32
*.UI32
*.ci32
*.CI32
*.cui32
*.CUI32
*.c32
*.C32

*.f8
*.F8
*.uf8
*.UF8
*.cf8
*.CF8
*.cuf8
*.CUF8

*.f16
*.F16
*.uf16
*.UF16
*.cf16
*.CF16
*.cuf16
*.CUF16

*.f32
*.F32
*.uf32
*.UF32
*.cf32
*.CF32
*.cuf32
*.CUF32

*.html
*.pyc
*venv/
*.pkl
*__init__.py
*.S2P